.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.background {
  background-image: linear-gradient(#2e3192, #1bffff);
}

::placeholder {
  color: #636e72;
  font-weight: 600;
}

.formControl {
  outline: none;
  box-shadow: none;
  padding: 1.5rem;
}
.formControl:focus {
  box-shadow: none;
}

.login {
  font-weight: bold;
}
